
{% capture content %}
    <h3>Oops, something's gone wrong.</h3>
    <p>The page you're looking for can't be found. There are various reasons why this might have occoured:</p>
    <ul>
      <li>The page has moved</li>
      <li>The page no longer exists</li>
      <li>The URL was mistyped</li>
      <li>You followed a "bad" link to the site</li>
    <p>If you're certain the page you're looking for should be at this address, then double check the URL in the address field above and make sure there are no typos. If all else fails, start at the homepage and browse around for the content you're looking for.</p>
    </ul>

{% endcapture %}
{% include 'layouts/default' %}
