<div id="featured-issues">
  <h3>Featured Issues</h3>
  <a class="issued odd-issue" id="summer2014" href="/developments/summer-2014"></a>
  <a class="issued" id="resilience" href="/developing-alternatives/winter-2013"></a>
  <a class="issued odd-issue" id="winter2013" href="/developments/winter-2013"></a>
  <a class="issued" id="summer2013" href="/developments/summer-2013"></a>
  <a class="issued odd-issue" id="financialiclusion" href="/developments/financial-inclusion"></a>
  <a class="issued" id="spring2013" href="/developments/spring-2013"></a>
</div>


<!-- <a class="featured-issue first-featured" href="/developments/summer-2014"><img src="/assets/summer 2014.jpg" alt="Issue cover" /></a>
  <a class="featured-issue" href="/developing-alternatives/winter-2013"><img src="/assets/resilence.jpg" alt="/Issue cover" /></a>
  <a class="featured-issue first-featured" href="/developments/winter-2013"><img src="/assets/winter2013.jpg" alt="Issue cover"/></a>
  <a class="featured-issue" href="/developments/summer-2013"><img src="/assets/summer2013-1.jpg" alt="Issue cover"/></a>
  <a class="featured-issue first-featured" href="developments/financial-inclusion"><img src="/assets/financial_inclusion.jpg" alt="Issue cover"/></a>
  <a class="featured-issue" href="developments/spring-2013"><img src="/assets/spring2013.jpg" alt="Issue cover" /></a> -->
