<header class="primary-header">
  <div class="masthead">
    {% if url contains '/daideas' %}
      <h1 class="masthead-title"><span class="daideas-mast"><a href="/daideas">DAIdeas</a></span></h1>
      {% elsif url contains '/developments' %}
        <h1 class="masthead-title-developments"><a href="/developments">DEVELOPMENTS</a></h1>
      {% elsif url contains '/developing-alternatives' %}
        <h1 class="masthead-title-developing-alternatives"><a href="/developing-alternatives">DEVELOPING ALTERNATIVES</a></h1>
      {% elsif url contains '/tags/' %}
      <h1 class="masthead-topic">Article Topics</h1>
      {% else %}
        <h1 class="masthead-title">{{title}}</h1>
    {% endif %}
    <hr>
  </div>
  <div class="tagline cf">
    <span class="tag">Online Publications From <a href="http://dai.com">DAI</a></span>
    <span class="foo"><a href="http://dai.com/sign-up"><svg class="envelope" viewBox="0 0 242 242" preserveAspectRatio="xMinYMax meet"><use xlink:href="#envelope"></use></svg> Subscribe</a></span>
  </div>
</header>
