<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/styles/css/style.css" />
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link href="/images/favicon.png" rel="apple-touch-icon" type="image/png" />
  <script type="text/javascript" src="/js/site.js"></script>
</head>
