<header class="primary-header">
  <div class="masthead">
    {% if url contains '/daideas' %}
      <h1 class="masthead-title"><span class="daideas-mast"><a href="/daideas">DAIdeas</a></span></h1>
      {% elsif url contains '/developments' %}
        <h1 class="masthead-title-developments"><a href="/developments">DEVELOPMENTS</a></h1>
      {% elsif url contains '/developing-alternatives' %}
        <h1 class="masthead-title-developing-alternatives"><a href="/developing-alternatives">Developing Alternatives</a></h1>
      {% else %}
        <h1 class="masthead-title">{{title}}</h1>
    {% endif %}
    <hr>
  </div>
  <div class="tagline cf">
    <span class="tag">Online Publications From <a href="http://dai.com">DAI</a></span>
    <span class="button"><a href="http://dai.com/sign-up"><span class="ss-icon ss-social-circle">&#x2709;</span> Subscribe</a></span>
  </div>
</header>
