<header class="primary-header">
  <div class="masthead">
    <h1 class="masthead-title">
      {% if meta.publication == 'daideas' %}
        <a href="/daideas"><span class="daideas-mast">DAIdeas</span></a>
      {% endif %}
    </h1>
    <hr>
  </div>
  <div class="tagline cf">
    <span class="tag">Online Publications From <a href="http://dai.com">DAI</a></span>
    <span class="button"><a href="http://dai.com/sign-up"><span class="ss-icon ss-social-circle">&#x2709;</span> Subscribe</a></span>
  </div>
</header>
