<div id="nav" class="nav-wrap cf">
  <nav class="utility-nav cf">
    <ul class="cf">
        <li><a href="/"{% if '/' == url or url contains '/daideas' or url contains '/developments' or url contains '/developing-alternatives' %} class="is-current-page"{% endif %}>PUBLICATIONS</a></li>
        <li>/</li>
        <li><a href="/topics"{% if '/topics' == url or url contains '/tags/' %} class="is-current-page"{% endif %}>TOPICS</a></li>
        <li>/</li>
        <li><a href="/about"{% if '/about' == url %} class="is-current-page"{% endif %}>ABOUT</a></li>
      </ul>
  </nav>
  <a href="#body" class="nav-up"><svg class="up" viewBox="0 0 144 97" preserveAspectRatio="xMinYMax"><use xlink:href="#up"></use></svg></a>
</div>
