{% capture content %}
    <section class="content">
    <h3>{{ title }}</h3>
    <div class="features">
      {% for asset in current.assets %}
        <div class="feature {% cycle 'feature-odd', 'feature-even' %}" style="background-image: url({{ asset.url }}); ">
          <p class="feature-link"><a href="{{ asset.meta.link }}">{{ asset.meta.title }}</a></p>
        </div>
      {% endfor %}
    </div>
    <p><strong>Also Featured:</strong></p>
    <div class="also-features">
      {{ body }}
    </div>
    <hr>
    <div class="features-story">
      {% for post in site.pages.articles.posts %}
        {% if post.meta.publication == current.meta.publication  and post.meta.issue == current.meta.issue and post.meta.feature? %}
          {% include 'includes/article' %}
        {% endif %}
      {% endfor %}
    </div>
    <!-- <hr>
    {% for page in site.pages.developments.pages %}
      <h2 class="postheader"><a href="{{ page.url }}">{{ page.title }}</a></h2>
    <hr>
    {% endfor %}
    <p class="readmore details"><a href="/developments/archive"><span class="ss-icon ss-standard"> &#x21AA; </span> Full Article Archive</a></p>
    </section> -->
{% endcapture %}
{% include 'layouts/default' %}
