{% capture content %}
    <section class="content">
    {% assign intro = site.pages.developing-alternatives %}
    {{ intro.body }}
    <h3>Recent Issues:</h3>
    <hr>
    {% for page in site.pages.developing-alternatives.pages %}
      <h2 class="postheader postheader-issue"><a href="{{ page.url }}">{{ page.title }}</a></h2>
    <hr>
    {% endfor %}
    <p class="readmore details"><a href="/developing-alternatives/full-archive"><svg class="more-arrow" viewBox="0 0 247 185" preserveAspectRatio="xMinYMax"><use xlink:href="#more-arrow"></use></svg> Full Article Archive</a></p>
    </section><!-- /content -->
{% endcapture %}
{% include 'layouts/default' %}
