/* Typography Styles
================================ */

// once the web-fonts are loaded, show the site
// TODO: Better way to prevent the FOUT


/* Page Generic Styles
================================ */

a{
  color: $green-link;
  text-decoration: none;
}
a:hover{
  color: darken($green-link, 15%);
}
html{
  line-height: 23px;
}
/* Header
================================ */
h1{
  font-size: 2.7rem;
  font-weight: 400;
}
.utility-nav, .tagline, .details{
  font-size: .9rem;
}
h2{
  line-height: 1.8rem;
}
// Content
.postheader{
  font-size: 2rem;
  line-height: 2.3rem;
}
sup{
  vertical-align: top;
  font-size: .8em;
}
p{
  margin-bottom: 1em;
  margin-top: 1em;
}
