/* Typography Styles
================================ */

// once the web-fonts are loaded, show the site
// TODO: Better way to prevent the FOUT
.wf-active body{
    visibility: visible;
}

/* Page Generic Styles
================================ */

a{
  color: white;
  background-color: lighten($green-link, 10%);
  padding: 2px 4px;
  text-decoration: none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
a:hover{
  background-color: darken($green-link, 10%);
}

/* Header
================================ */
h1{
  font-size: 2.7rem;
  font-weight: 400;
}
.utility-nav, .tagline, .details{
  font-size: .9rem;
}

// Content
.postheader{
  font-size: 2rem;
  line-height: 2.3rem;
}
