@import "ss-standard";
@import "ss-social-circle";
@import "grid";
@import "reset";
@import "variables";
@import "typography";

html{
  font-size: 12px;
  line-height: 21px;
  foo: bar;
}

body{
  font-family: 'proxima-nova-1', Helvetica, Arial, sans-serif;
  margin: 0;
  visibility: hidden;
  color: $black;
}
*{
  box-sizing: border-box;
}
img, video, object{ max-width: 100% }

article, header, nav, section {
    display: block;
    h2{
      margin-bottom: 0;
    }
}

/* Page Layout
================================ */
.nav-wrap{
  background-color: $black;
  padding: .5em;
  position: fixed;
  width: 100%;
  top: 0;
}
.headroom{
  -webkit-transition:-webkit-transform 300ms linear;
   -moz-transition:transform 300ms linear;
     -o-transition:transform 300ms linear;
        transition:transform 300ms linear;
}
.headroom--pinned {
  -webkit-transform:translateY(0%);
     -moz-transform:translateY(0%);
      -ms-transform:translateY(0%);
       -o-transform:translateY(0%);
          transform:translateY(0%);
  z-index: 10;
}
.headroom--unpinned {
  -webkit-transform:translateY(-100%);
   -moz-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
     -o-transform:translateY(-100%);
        transform:translateY(-100%);
}

.primary-header{
  @include width(4);
  @include min-width(4);
  margin: auto;
}

.masthead{
  margin-top: 3em;
  border: none;
  border-bottom: 1px solid $black;
  hr{
    border: 0;
    border-bottom: 3px solid $black;
    margin: 0 0 .2em 0;

  }
}
header{
  border-bottom: 1px solid $black;
}
.tagline{
  padding: .5em 0;
  .tag{
    display: block;
    float: left;
  }
  .button{
    visibility: hidden;
    display: block;
    float: right;
    position: relative;
    top: -1px;
  }
  .ss-icon{
    position: relative;
    top: 2px;
  }
}

.wrap{
  margin: auto;
  overflow: hidden;
  @include width(4);
  @include min-width(4);
}
.footer-wrap{
  background-color: $black;
}
.footer{
  @include width(4);
  @include min-width(4);
  margin: auto;
  color: $nav-blue;
  // padding: 1em 0 1em 0;
}
section{
  margin-bottom: 8em;
}

/* Page Sections */

// Nav
.utility-nav{
  @include min-width(5);
  ul{
    list-style-type: none;
    margin: 0 0 0 1em;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
  }
  li{
    float: left;
    margin-right: 1em;
    color: $nav-gray;
    a{
      color: $nav-gray;
    }
    .is-current-page{
      color: $white;
    }
  }
}
.ss-icon{
  position: relative;
  top:2px;
}
/* Content */
section hr{
  border: 0;
  border-bottom: 1px solid $nav-gray;
}
#daideas{
  display: block;
  padding-top: .6em;
  padding-left: .4em;
  padding-bottom: .6em;
  background-color: $green-link;
  color: white !important;
  font-weight: 400;
  a{
    color: white !important;
  }
}
.daideas-mast{
  display: block;
  padding-top: .6em;
  padding-left: .4em;
  padding-bottom: .6em;
  background-color: $green-link;
  color: white !important;
  font-weight: 400;
  a{
    color: white !important;
  }
}
#developments{
  font-weight: 900;
  a{
    color: $black;
  }
}
#devalts{
  font-weight: 300;
  line-height: .8em;
  a{
    color: $black;
  }
}
.pubsheader, .postheader{
  margin: .5em 0 .5em 0;
}
.readmore{
  text-align: right;
  margin-top: 0;
}

.subpage-menu a{
  display: inline-block;
  margin-right: 15px;
}
.masthead-title-developments{
  font-weight: 900;
  a{
    color: $black;
  }
}
.masthead-title-developing-alternatives{
  font-weight: 300;
  line-height: .8em;
  a{
    color: $black;
  }
}
// Article Pages
.issue{
  margin-top: 0;
  color: lighten($black, 40%);
}
.content ul{
  list-style-position: outside;
  padding-left: 1.5em;
  li{
    margin-bottom: .8em;
  }
}
.issue{
  margin: 0;
}
span.tags::after{
    content: " | ";
    margin-left: .2em;
}
span.tags:last-child::after{
    content: " "
}
header{
  padding-top: 1em;
}
//—————————————————————//
//****Media Queries****//
//—————————————————————//
/*
  Mobile layout
  240–479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {

}
/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/
@media screen and (min-width: 30em) {
  .primary-header{
    @include width(6);
  }
  .wrap{
    @include width(6);
  }
  .footer{
    @include width(6);
  }
  .tagline{
    .button{
      visibility: visible;
    }
  }
  html{
    font-size: 13px;
    line-height: 22px;
  }
  h1{
    font-size: 3.3rem;
  }
  .masthead{
    margin-top: 4em;
  }
}
/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/
@media screen and (min-width: 37.5em){
  .primary-header{
    @include width(8);
  }
  .wrap{
    @include width(8);
  }
  .footer{
    @include width(8);
  }
  html{
    font-size: 17px;
    line-height: 27px;
  }
  h1{
    font-size: 4rem;
  }
  .masthead{
    margin-top: 5em;
  }
  .utility-nav{
    @include width(8)
  }
}
/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/
@media screen and (min-width: 57em){
  .primary-header{
    @include width(12);
  }
  .wrap{
    @include width(12);
  }
  .footer{
    @include width(12);
  }
  html{
    font-size: 18px;
    line-height: 30px;
  }
}
/* I got 99 problems, but this last line ain't one */
