@import "ss-standard";
@import "ss-social-circle";
@import "grid";
@import "reset";
@import "variables";

body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
}
*{
  box-sizing: border-box;
}
img, video, object{ max-width: 100% }

article, header, nav, section {
    display: block;
}

/* Page Layout
================================ */
.nav-wrap{
  background-color: $black;
  padding: .5em;
}
.primary-header{
  @include width(5);
  margin: auto;
}
.wrap{
  margin: auto;
  overflow: hidden;
  @include width(5);
}
.footer-wrap{
  background-color: $black;
}
.footer{
  @include width(5);
  margin: auto;
  color: $nav-blue;
  // padding: 1em 0 1em 0;
}

/* Text
================================ */

a{
  color: $green-link;
  text-decoration: none;
}

/* Page Sections */

// Nav
.utility-nav{
  ul{
    list-style-type: none;
    margin: 0;
  }
  li{
    float: left;
    margin-right: 1em;
    font-size: .9rem;
    a{
      color: $nav-gray;
    }
    .is-current-page{
      color: $white;
    }
  }
}
/* Content */

.content-title{
  font-size: 2.4em;
  line-height: 1.3;
  margin: 0 0 0.5em;
}

.post-preview{
  border-top: 1px dotted #d4d7d9;
  margin: 1em 0 0;
  padding: 1em 0 0;
}

.subpage-menu a{
  display: inline-block;
  margin-right: 15px;
}

//—————————————————————//
//****Media Queries****//
//—————————————————————//
/*
  Mobile layout
  240–479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {

}
/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/
@media screen and (min-width: 30em) {
  .primary-header{
    @include width(6);
  }
  .wrap{
    @include width(6);
  }
  .footer{
    @include width(6);
  }
}
/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/
@media screen and (min-width: 37.5em){
  .primary-header{
    @include width(8);
  }
  .wrap{
    @include width(8);
  }
  .footer{
    @include width(8);
  }

}
/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/
@media screen and (min-width: 57em){
.primary-header{
  @include width(12);
}
.wrap{
  @include width(12);
}
.footer{
  @include width(12);
}
}
/* I got 99 problems, but this last line ain't one */
