@import "ss-standard";
@import "ss-social-circle";
@import "grid";
@import "reset";
@import "variables";
@import "typography";

html{
  font-size: 12px;
  line-height: 21px;
}

body{
  font-family: 'proxima-nova-1', Helvetica, Arial, sans-serif;
  margin: 0;
  visibility: hidden;
}
*{
  box-sizing: border-box;
}
img, video, object{ max-width: 100% }

article, header, nav, section {
    display: block;
}

/* Page Layout
================================ */
.nav-wrap{
  background-color: $black;
  padding: .5em;
}
.primary-header{
  @include width(4);
  @include min-width(4);
  margin: auto;
}

.masthead{
  margin-top: 3em;
  border: none;
  border-bottom: 1px solid $black;
  hr{
    border: 0;
    border-bottom: 3px solid $black;
    margin: 0 0 .2em 0;

  }
}
header{
  border-bottom: 1px solid $black;
}
.tagline{
  padding: .5em 0;
  .tag{
    display: block;
    float: left;
  }
  .button{
    visibility: hidden;
    display: block;
    float: right;
    position: relative;
    top: -1px;
  }
  .ss-icon{
    position: relative;
    top: 2px;
  }
}

.wrap{
  margin: auto;
  overflow: hidden;
  @include width(4);
  @include min-width(4);
}
.footer-wrap{
  background-color: $black;
}
.footer{
  @include width(4);
  @include min-width(4);
  margin: auto;
  color: $nav-blue;
  // padding: 1em 0 1em 0;
}
section{
  margin-bottom: 8em;
}

/* Page Sections */

// Nav
.utility-nav{
  @include min-width(5);
  ul{
    list-style-type: none;
    margin: 0 0 0 1em;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
  }
  li{
    float: left;
    margin-right: 1em;
    a{
      color: $nav-gray;
    }
    .is-current-page{
      color: $white;
    }
  }
}
.ss-icon{
  position: relative;
  top:2px;
}
/* Content */
section hr{
  border: 0;
  border-bottom: 1px solid $nav-gray;
}
#daideas{
  display: block;
  padding: .4em;
  background-color: $green-link;
  color: white !important;
  font-weight: 400;
  a{
    color: white !important;
  }
}
#developments{
  font-weight: 900;
  a{
    color: $black;
  }
}
#devalts{
  font-weight: 300;
  line-height: .8em;
  a{
    color: $black;
  }
}
.pubs-header{
  margin-bottom: .38em;
}
.readmore{
  text-align: right;
  margin-top: 0;
}
.content-title{
  font-size: 2.4em;
  line-height: 1.3;
  margin: 0 0 0.5em;
}

.post-preview{
  border-top: 1px dotted #d4d7d9;
  margin: 1em 0 0;
  padding: 1em 0 0;
}

.subpage-menu a{
  display: inline-block;
  margin-right: 15px;
}

// Article Pages

span.tags::after{
    content: " | ";
    margin-left: .2em;
}
span.tags:last-child::after{
    content: " "
}
//—————————————————————//
//****Media Queries****//
//—————————————————————//
/*
  Mobile layout
  240–479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {

}
/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/
@media screen and (min-width: 30em) {
  .primary-header{
    @include width(6);
  }
  .wrap{
    @include width(6);
  }
  .footer{
    @include width(6);
  }
  .tagline{
    .button{
      visibility: visible;
    }
  }
  html{
    font-size: 13px;
    line-height: 22px;
  }
  h1{
    font-size: 3.3rem;
  }
  .masthead{
    margin-top: 4em;
  }
}
/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/
@media screen and (min-width: 37.5em){
  .primary-header{
    @include width(8);
  }
  .wrap{
    @include width(8);
  }
  .footer{
    @include width(8);
  }
  html{
    font-size: 16px;
    line-height: 25px;
  }
  h1{
    font-size: 4.3rem;
  }
  .masthead{
    margin-top: 5em;
  }
  .utility-nav{
    @include width(8)
  }
}
/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/
@media screen and (min-width: 57em){
  .primary-header{
    @include width(12);
  }
  .wrap{
    @include width(12);
  }
  .footer{
    @include width(12);
  }
}
/* I got 99 problems, but this last line ain't one */
