{% capture content %}
    <section class="content">
      <article>
        <p class="details issue"><strong>{{ meta.issue }}</strong></p>
        <h2>{{ title }} </h2>
        <span class="postDetails clearfix">
          <span class="details byline">By <strong>{{ meta.author }} </strong></span>
          <br><span class="tagLinks details">Article Topics:
          {% for tag in taxonomy['tags'] %}
              <span class="tags"><a class="tags" href="{{ tag.url }} ">{{ tag.value }} </a></span>
          {% endfor %}
          </span>
        </span>
        {{body}}
      </article>
      <hr>
      <div class="author-block">
      {% for asset in assets %}
        {% if asset.meta.author? %}
          <img class="author" src="{{ asset.url }}" alt="Photo of {{ meta.author }}" />
        {% endif %}
      {% endfor %}
      <p>{{ meta.author-bio | markdown }}</p>
      </div>
    </section><!-- /content -->
{% endcapture %}
{% include 'layouts/post' %}
